<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <head>
        <meta charset="UTF-8">
        <title>Linker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <style>
            @font-face {
                font-family: 'WantedSans';
                src: url('../../static/fonts/WantedSans-Medium.ttf') format('truetype');
                /* 다양한 포맷에 대한 지원을 위해 필요한 경우 format 추가 가능 */
            }
            body {
                font-family: 'WantedSans', sans-serif;
            }
        </style>
    </head>
    <nav th:fragment="myNav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>Linker</strong></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/link">내 링크</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle fs-4"></i> <!-- 유저 아이콘 -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>