<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>
    <style>
        /* 추가적인 스타일링 */
        .welcome-container {
            height: 100vh; /* 화면 전체 높이로 설정 */
            display: flex;
            flex-direction: column;
            justify-content: center; /* 세로 가운데 정렬 */
            align-items: center; /* 가로 가운데 정렬 */
        }
    </style>
</head>


<div layout:fragment="content">
<div class="welcome-container">
    <!-- 환영 문구 -->
    <div>
        <h1>내가 저장할 모든 링크, Linker</h1>
    </div>

    <!-- 로그인과 회원가입 버튼 -->
    <div class="btn-container">
        <a href="#" th:onclick="|location.href='@{/login}'|" class="btn btn-primary">로그인</a>
        <a href="#" th:onclick="|location.href='@{/register}'|" class="btn btn-secondary">회원가입</a>
    </div>
</div>
</div>
</html>
