<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head>

    <style>
        /* 추가적인 스타일링 */
        .signup-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .signup-box {
            width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<div layout:fragment="content">
    <!-- 회원 가입 폼 -->
    <div class="signup-container">
        <div class="signup-box">
            <h2>로그인</h2>
<!--            <div th:if="${!errors.isEmpty()}">-->
<!--                <div class="alert alert-danger">-->
<!--                    <ul>-->
<!--                        <li th:each="error : ${errors}" th:text="${error}"></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <form th:action th:object="${request}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">아이디</label>
                    <input type="text" th:field="${request.username}" class="form-control" id="username" placeholder="아이디를 입력하세요">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" th:field="${request.password}" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>
    </div>

</div>
</html>
